---
interface Props {
  side?: 'left' | 'right'
  num?: number
}

const { side = 'right', num } = Astro.props
---

{num && <sup class="sidenote-marker">{num}</sup>}<span class={`sidenote sidenote-${side}`}>{num && <span class="sidenote-label">{num}.</span>}<slot /></span>

<style>
  .sidenote-marker {
    font-size: 0.6em;
    font-style: normal;
    font-weight: 600;
    color: var(--fg-muted);
    vertical-align: super;
    line-height: 0;
    margin-left: 1px;
  }

  .sidenote-label {
    font-style: normal;
    font-weight: 600;
    color: var(--fg);
    margin-right: 0.3em;
  }

  .sidenote {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--fg-muted);
    line-height: 1.45;
  }

  .sidenote :global(a) {
    color: var(--fg-muted);
    text-decoration-color: var(--ornament);
  }

  .sidenote :global(a:hover) {
    color: var(--fg);
  }

  @media (min-width: 1200px) {
    .sidenote {
      position: absolute;
      width: 155px;
    }

    .sidenote-right {
      right: -185px;
    }

    .sidenote-left {
      left: -185px;
      text-align: right;
    }
  }

  @media (max-width: 1199px) {
    .sidenote {
      display: none;
    }

    .sidenote-marker {
      display: none;
    }
  }
</style>
